.bg-d7d7d7 {
  background: #d7d7d7;
}

.bg-fade-up {
  background-image: linear-gradient(to bottom, #00000000, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC, #FCFCFC) !important;
}

.bg-none {
  background-color: transparent;
  border: 0;
  outline: none;
}

.bg-white {
  background: white;
}

.color-7d7d7d {
  color: #7d7d7d;
}

.color-blue {
  color: #0095f6;
}